{% extends 'layout.html' %}

{% block content %}
<section class="reviews">
    <div class="reviews-sub-heading">
        <h3>Latest Reviews</h3>
    </div>
    {% if reviews %}
        <div class="grid-container">
            {% for review in reviews %}
                <article class="card">
                    {% if review.image %}
                    <div class="card-image">
                        <img src="{{review.image.url}}" alt="Product Image">
                    </div>
                    {% endif %}
                    <div class="card-text">
                        <h3>{{review.title}}</h3>
                        <p>{{review.content | capfirst}}</p>
                        <small>{{review.author | title}} | {{review.date_posted}}</small>
                    </div>
                </article>
            {% endfor%}
        </div>
    {% else %}
    <div class="no-content">It's lonely in here!</div>
    {% endif %}
</section>
{% endblock %}